[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytubefix = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
retinaface-pytorch = "*"
retina-face = "*"
tf-keras = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
