[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
torch = "*"
torchvision = "*"
retina-face = "*"

[dev-packages]

[requires]
python_version = "3.9"
